{% extends 'base.html' %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
        {% for receipt in receipts %}
            <tr>
                <th>{{receipt.vendor}}</th>
                <th>{{receipt.total}}</th>
                <th>{{receipt.tax}}</th>
                <th>{{receipt.convert_date}}</th>
                <th>{{receipt.category.name}}</th>
                <th>{{receipt.account.name}}</th>
            </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}