{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>Accounts</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
            {% for account in accounts %}
                <tr>
                    <th>{{account.name}}</th>
                    <th>{{account.number}}</th>
                    <th>{{account.receipts.count}}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock content %}