{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>Expenses</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
            {% for expense in expenses %}
                <tr>
                    <th>{{expense.name}}</th>
                    <th>{{expense.receipts.count}}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock content %}